{{outlet}}
<h1>test model</h1>
<button {{action 'saveInfo'}}>add</button>
名字{{input value=name}}
笔记{{input value=note}}
{{#each model as |info|}}
  <p>{{info.name}}........{{info.note}}........{{info.date}}</p>
{{/each}}

<button {{action 'fiterMy'}}>只看自己的</button>